export(add_joe_footer)
export(joe_chart_size)
export(joe_colors)
export(joe_palette)
export(joe_palettes)
export(save_joe)
export(scale_color_joe)
export(scale_colour_joe)
export(scale_fill_joe)
export(scale_color_joe_diverging)
export(scale_fill_joe_diverging)
export(theme_joe)
